<!DOCTYPE html>
<html lang="en">
  <head><% include partials/template/head.ejs %></head>
  <body>

    <div class="hero">
      <div class="header">
          <h2 class="typed"></h2>
          <br>
        <a class="button" href="#">Find out more</a>
      </div>
    </div>

    <div class="container">
      <% include partials/template/nav.ejs %>
      <% include partials/template/header.ejs %>
        <div class="row">
          <h3>Who we are</h3>
          <% team.forEach(function(person){ %>
            <div class="four columns team-box">
              <a href="<%= person.tw %>" target="_blank">
                <img src="images/team/<%= person.name %>.jpg"  alt="" class="img-circle team-photo">
                <h3><%= person.name %></h3>
                <p><%= person.bio %></p>
              </a>
            </div>
          <% }) %>
        </div>

        <div class="row">
          <h3>Sponsor an event</h3>
          <div class="six columns">
            <p>We're looking for innovative companies to sponsor our events, if you want to get your product </p>
          </div>
          <div class="six columns">
            IMG HERE
          </div>
        </div>


          <h3>Contact</h3>
          <% include partials/template/mailchimp.ejs %>
        </div>



    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
