<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item"><a class="navbar-link"href="#">Who we are</a></li>
      <li class="navbar-item"><a class="navbar-link"href="#">About</a></li>
      <li class="navbar-item"><a class="navbar-link"href="#">Events</a></li>
      <li class="navbar-item"><a class="navbar-link"href="#">Sponsor</a></li>
      <li class="navbar-item"><a class="navbar-link"href="#">Contact</a></li>
    </ul>
  </div>
</nav>
