<!-- <nav class="navbar">

</nav>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item"><a class="navbar-link"href="#about">About</a></li>
      <li class="navbar-item"><a class="navbar-link"href="#who-we-are">Who we are</a></li>
      <li class="navbar-item"><a class="navbar-link"href="#next-event">Events</a></li>
      <li class="navbar-item"><a class="navbar-link"href="#">Sponsor</a></li>
      <li class="navbar-item"><a class="navbar-link"href="#stay-updated">Contact</a></li>
    </ul>
  </div>
</nav> -->




<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="/images/mm-logo-w.png" alt="" class="logo"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Don't Panic</a></li> <!-- <span class="sr-only">(current)</span> -->
        <li><a href="#">Who are we</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>
